img {
    border-radius: 5px;
}

.navbar span {
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    color: brown;
}
.bx-landscape {
    color: brown;
}
.list-group-item {
    border-color: #1aa826;
}
.gradient-background {
    position: relative;
    background: white; /* Background inside the border */
    padding: 10px; /* Inner padding */
    border-radius: 0.375rem;
    z-index: 1;
}

.gradient-background::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(135deg, #28a745, #ffc107); /* Gradient for the border */
    z-index: -1; /* Place it behind */
    border-radius: inherit; /* Match the parent border-radius */
}
.rounded-circle {
    max-width: fit-content;
}

/* Reservar.html */
.container {
    margin-top: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}
.title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-section img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.info {
    flex: 1;
    margin-left: 20px;
}
.info h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
}
.info p {
    color: gray;
    margin: 5px 0;
}
.calendar-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.calendar {
    text-align: center;
}
.calendar h5 {
    margin-bottom: 15px;
}
.btn-reservar {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}
.btn-reservar button {
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
}
.btn-reservar button:hover {
    background-color: #0056b3;
}
.btn-link {
    text-decoration: none; 
    color: white;
}

.image-container {
    display: flex;
    gap: 20px;
}
.image-option {
    text-align: center;
}
.image-option img {
    width: 150px;
    height: auto;
    cursor: pointer;
    border: 2px solid transparent;
}
.image-option input[type="radio"] {
    display: none; /* Esconde completamente o input radio */
}
.image-option input[type="radio"]:checked + img {
    border: 2px solid blue;
}